body {
    background-color: #7030A0;
    background-image: url(img/SYMPLE_logo4a.PNG);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -120%;
    background-size: 500px;
    touch-action: manipulation;

}

button.hidden {
    visibility: hidden;
}

p {
    margin-bottom: -0.5em;
}

.side-buttons {
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 30%;
    width: 30%;
    height: 30%;
}

.left-button {
    left: 0px;
}

.right-button {
    right: 0px;
}

.button {
    padding: 55px 65px;
    background-color: #008D8A;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    min-width: 100px;
}

#article1 {
    background-color: #008D8A;
    width: 30%;
    height: 32%;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    position: fixed;
    position-area: center;
    position: absolute;
    top: -60%;
    display: grid;
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}

#article2 {
    background-color: #008D8A;
    width: 30%;
    height: 30%;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    position: fixed;
    position-area: center;
    position: absolute;
    top: -55%;
    display: grid;
    text-align: center;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -webkit-text-size-adjust: 20px;
}

#foutMelding {
    font-size: 28px;
}

#verder {
    font-size: 20px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.popup-content {
    color: white;
    width: 55%;
    height: 45%;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    background-color: #7030A0;
}

.popup-Pin {
    color: white;
    width: 55%;
    height: 40%;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    background-color: #7030A0;
}

.popup-content-afbreken {
    color: white;
    width: 55%;
    height: 55%;
    padding: 2%;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    background-color: #7030A0;
}